@font-face {
    font-family:"Kimberley";
    src:    url("./Kimberley.eot?")                format("eot"),
            url("./Kimberley.woff")                format("woff"),
            url("./Kimberley.ttf")                 format("truetype"),
            url("./Kimberley.svg#Kimberley")    format("svg");
    font-weight:normal;
    font-style:normal;
}
